<%- include("partials/header.ejs"); -%>

<div class="aboutUs">
    <div class="aboutTitleDiv">
        <p class="aboutTitle">About us</p>
    </div>
    <div class="aboutDescDiv">
        <p class="aboutDesc">

            This website is created using HTML, CSS, JS, NODE JS, EXPRESS, <a href="https://newsapi.org/" target="_blank">NEWS API</a> <br> <br>

            If news images are not loading then it is not my fault, it is because of API, and only 50 requests / 12 hr allowed so if in future, website was not loading than it is because of requests are reached limit, I dont have money to upgrade API plan.

            All the icons I used in this website can be downloaded for free on 
            <a href="https://www.flaticon.com/" target="_blank" title="icons">Icons created by Pixel perfect - Flaticon</a> <br> <br>

            NOTE : This news website is working complete on <a href="https://newsapi.org/" target="_blank">NEWS API</a>, All the news are coming from this website, I am developer not a journalist, I dont know anything about the news which are displayed. If you have any problem with news then please do not contact me, I am already depressed. <br> <br>

            Source code is available on my Github repository. <br> <br>

            For source code <a href="https://github.com/HET-SHUKLA/NewsTeller" target="_blank">Click Here</a> <br> <br>

            If you have any query or you wanted to report a bug, you can <a href="mailto: shuklahet2704@gmail.com" target="_blank">Mail me</a> <br> <br>
        </p>
    </div>
</div>


<%- include("partials/footer.ejs"); -%>
