<%- include("partials/header.ejs"); -%>

<div class="contactUs">
    <div class="contTitleDiv">
        <p class="contTitle">Contact us</p>
    </div>
    <div class="contDesc">
        <div class="email">
            <a href="mailto: shuklahet2704@gmail.com"><img src="images/gmail.png" alt="EMAIL"></a>
        </div>
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/het--shukla/"><img src="images/linkedin.png" alt="LINKEDIN"></a>
        </div>
        <div class="website">
            <a href="https://het-shukla.github.io/PORTFOLIO/#"><img src="images/web.png" alt="WEBSITE"></a>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs"); -%>